.navbar-default {
    background-color:white;
    border-color: black;
}

    img{
     display: block; margin: 0 auto; text-align: center; width: 850px; height: 500px;
}   
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #767670;
    background-color:white;
}